*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#global-header{
    background-image: url(../img/himmel.jpg);
    background-size: cover;
    height: 300px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    nav{
        background-color: #ffffff;
        border: 1px solid #9f9f9f;
        ul{
            list-style: none;
            padding-left: 10px;
            a{
                display: block;
                padding: 3px;
                text-decoration: none;
                color: #000;
            }
        }
    }
}

#main-logo{
    display: block;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
}

main{
    padding: 1rem;
    
    article{
    font-size: 14px;
    border: 1px solid #000;
    padding: 3px 10px;
    margin: 10px;
    }
}

aside{
    padding: 1rem;

    a{
    color: #000;
    text-decoration: none;
    }
}

footer{
    padding: 1rem;
    background-color: #333333;
    color: #ffffff;
        label{
        display: block;
    
        input{
        display: block;
        width: 100%;
        padding: 1rem;
        }
    }
}